.cm-s-militant.CodeMirror {
  background: var(--secondary-bg);
  color: var(--primary-text);
}
.cm-s-militant div.CodeMirror-selected {
  background: #353b48;
  opacity: 0.1;
}
.cm-s-militant .CodeMirror-line::selection,
.cm-s-militant .CodeMirror-line > span::selection,
.cm-s-militant .CodeMirror-line > span > span::selection {
  background: #353b48;
}
.cm-s-militant .CodeMirror-line::-moz-selection,
.cm-s-militant .CodeMirror-line > span::-moz-selection,
.cm-s-militant .CodeMirror-line > span > span::-moz-selection {
  background: #353b48;
}
.cm-s-militant .CodeMirror-gutters {
  background: var(--secondary);
  border-right: 1px solid #0c0c0d;
}
.cm-s-militant .CodeMirror-guttermarker {
  color: #555;
}
.cm-s-militant .CodeMirror-linenumber {
  color: var(--primary-text);
  opacity: 0.5;
  text-align: center;
}
.cm-s-militant .CodeMirror-cursor {
  border-left: 1px solid var(--primary-text);
}

.cm-s-militant span.cm-comment {
  color: #51597d;
}
.cm-s-militant span.cm-atom,
.cm-s-militant span.cm-number {
  color: #ff9e64;
}
.cm-s-militant span.cm-quote,
.cm-s-militant span.cm-string,
.cm-s-militant span.cm-string-2 {
  color: #9ece6a;
}
.cm-s-militant span.cm-builtin {
  color: #fc7b7b;
}
.cm-s-militant span.cm-attribute {
  color: #bb9af7;
  font-style: italic;
}
.cm-s-militant span.cm-keyword {
  color: #9d7cd8;
  font-style: italic;
}
.cm-s-militant span.cm-error {
  color: #db4b4b;
}

.cm-s-militant span.cm-header {
  color: #f7768e;
}
.cm-s-militant span.cm-qualifier {
  color: #9ece6a;
}

.cm-s-militant span.cm-property {
  color: #7aa2f7;
}

.cm-s-militant span.cm-def {
  color: #bb9af7;
}

.cm-s-militant span.cm-tag {
  color: #f7768e;
}

.cm-s-militant span.cm-variable-3 {
  color: var(--primary-text);
}

.cm-s-militant span.cm-operator {
  color: #bb9af7;
}
.cm-s-militant span.cm-special {
  color: #bb9af7;
}

.cm-s-militant .CodeMirror-activeline-background {
  background: rgba(185, 215, 253, 0.15);
}
.cm-s-militant .CodeMirror-matchingbracket {
  outline: solid 1px rgba(255, 255, 255, 0.25);
  color: white !important;
}
