.btn {
  all: unset;
  padding: 0.563rem 1rem;
  color: var(--primary-text);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1px;
  cursor: pointer;
  position: relative;
}

.btn::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: 0.1s ease-in;
}

.btn:hover::after {
  opacity: 1;
}

.primary {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: var(--secondary-text);
}

.secondary {
  border: 1px solid var(--primary-color);
  background-color: var(--secondary-color);
}
