.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 12px;
  padding: 2.25rem 1.5rem;
  position: relative;
  z-index: 0;
}

.profile-button {
  padding: 0;
}

.profile-button img {
  width: 50px;
  border-radius: 10px;
  aspect-ratio: 1 / 1;
}

@media (width < 700px) {
  .profile-button {
    display: none;
  }
}
