.note-card-container {
  color: var(--primary-text);
  background-color: var(--secondary-bg);
  flex: 1;
}

.note-card-show-preview {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.note-card-body {
  text-decoration: none;
  color: var(--primary-text);
  display: flex;
  padding: 0.563rem 1rem;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
}

.note-card-body img {
  width: 20%;
  aspect-ratio: 1 / 1;
}

.note-card-footer {
  display: flex;
  gap: 24px;
  padding: 0.563rem 1rem;
}

.note-card-footer span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
