.register-options {
  display: flex;
  width: 100%;
  gap: 12px;
}

.register-social-media {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.registration-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.registration-form .btn {
  align-self: flex-end;
}

@media (width < 900px) {
  .register-options {
    flex-direction: column;
  }

  .registration-form,
  .register-social-media {
    width: 100%;
    flex: 0;
  }
}
